<!-- <div class="input-form">
  <div class="field">
    Height
    <app-unit-input></app-unit-input>
  </div>  
  <div class="field">
    Weight
    <app-unit-input></app-unit-input>
  </div>
</div> -->

<!-- <div style="width: 50%;">

<select #select (mousedown)="show($event)" style="width: 100%;">
  <option *ngFor="let item of _optionData()" value="{{item}}">{{item}}</option> 
</select>
</div> -->

<!-- <app-drag-drop></app-drag-drop>

<app-virtual-scroll></app-virtual-scroll> -->

<div>
  <div class="field-map" *ngFor="let item of dtoFields">
    <span>{{item}}</span>
    <select>
      <option *ngFor="let field of fileFields">{{field}}</option>
    </select>
  </div>
</div>